<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="IbrahimThollie">
<title>Oba Login </title>
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/stylel.css')}}">
<link rel='stylesheet' media='screen and (min-width: 164px) and (max-width: 900px)' href="{{url_for('static',filename='css/convert.css')}}" />
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/images.png') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='javascript/ajax.js')}}"></script>

<script src="{{url_for('static', filename='javascript/system.js')}}"></script>
<script src="{{url_for('static', filename='javascript/desk1.js')}}"></script>
<script src="{{url_for('static', filename='javascript/requests.js')}}"></script>
<script src="{{url_for('static', filename='javascript/likes.js')}}"></script>
<script src="{{url_for('static', filename='javascript/carasal.js')}}"></script>


</head>
<body style="background:;background-image: url({{url_for('static', filename='images/nature.jp')}});background-repeat:no-repeat;background-size:cover;background-position:center;">

	<div id="wrapper">

    <nav>
      <div class="nav-wrapper" style="background-color:#ff0066">
        <a href="#" class="brand-logo" style="color:white">Oba</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Help</a></li>
          <li><a href="badges.html">Mission  statement</a></li>
          <li><a href="collapsible.html">Locations</a></li>
        </ul>
      </div>
    </nav>
      
    <div id="" style="text-align:center; background-color:#ff0066;">
      {% block body %}
          {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul>
                  {% for message in messages %}
                      <li style="font-size:24px;   font-family: Times, Times New Roman, Georgia, serif;color:black;font-size:43px;font-weight:">{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          {% endwith %}
      {% endblock %}
  </div>
  <br>
  <br>

			
				<div class="container" style="position:absolute">
          <div class="row">
            <div class="Absolute-Center is-Responsive">
              
              <div class="col-sm-12 col-md-10 col-md-offset-1">
                <form  id="loginForm"  action="{{url_for('login_process')}}" method="post" role="form">
                  <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" style="font-size:24px;border-radius: 10px;padding-left:12px;background-color:black;  color:white" class="form-control" type="text" name="email" placeholder="email" required/>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" style="border-radius: 10px;font-size:24px;padding-left:12px;color:white;background-color:black" class="form-control" type="password" name="password" placeholder="password" required/>
                  </div>
                  
                  <div class="form-group" style="text-align:center;background-color:white;width:100%;">
                    <button  id="btn" style="text-align: center; width:100px;
                    margin: auto;" type="submit" class="btnlogin btn btn-def btn-block">login</button>
                  </div>
                  <div class="form-group text-center">
                    <a href="{{url_for('changePassword')}}" style="color:black;text-decoration: none;">Forgot Password</a>&nbsp;|&nbsp;<a href="#" style="color:black;text-decoration: none;">Support</a>|&nbsp;<a href="{{url_for('register')}}" style="color:black;text-decoration: none;">signup</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
				
        <!-- content items ends  -->
      
<!--  footer ends-->
</div>

<script>
window.addEventListener(`DOMContentLoaded` ,cs.initialize);

</script>
</body>
</html>
